<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>passport auth</title>
    <style>
        a {
            margin-top: 70px;
            font-size: large;
            color: rgb(250, 72, 101);
            text-decoration: none;
        }
    </style>
</head>
<body style="background-color: rgb(127, 231, 196); text-align: center;">

    <h2>Nitin Login</h2>

    <a href="/">Home</a>
    <a href="/register" style="color: rgb(252, 97, 31);">Register</a>
    <a href="/login" style="color: rgb(250, 35, 250);">Login</a>
    
</body>
</html>